<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1 class="mt-4"><b>BOOKDATABASE</b>
    </h1>
    <hr>
    <h2 class="mt-4"><b>[[${dto.title}]]</b></h2>
      <div class="form-group">
        <b>저자: </b>[[${dto.writer}]]
      </div>
      <div class="form-group">
        <b>출판사: </b>[[${dto.publisher}]]
      </div>
      <div class="form-group">
        <b>발매가: </b>[[${dto.price}]]
      </div>
      <div class="form-group">
        <b>발매일: </b>[[${dto.releasedate}]]
      </div>
    <hr>
    <a th:href="@{/bookdb/modify(bno = ${dto.bno}, page=${requestDTO.page}, type=${pageRequestDTO.type}, keyword_title=${pageRequestDTO.keyword_title})}">
      <button type="button" class="btn btn-primary">고치기</button>
    </a>
    <a th:href="@{/bookdb/list(page=${requestDTO.page}, type=${pageRequestDTO.type}, keyword_title=${pageRequestDTO.keyword_title})}">
      <button type="button" class="btn btn-info">목록으로</button>
    </a>
  </th:block>
</th:block>
</html>